
.container {
	padding-top: 20px;
}
form {
	background-color: gray;
	margin: auto;
	max-width: 600px;
	min-width: 452px;
	padding-right: 20px;
	padding-top: 14px;
}

li {
	text-align: right;
	list-style-type: none;
	font-weight: bold;
	font-size: 22px;
}

li:nth-of-type(6) {
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	padding-bottom: 16px;
}

p {
	color: red;
	font-size: 22px;
	font-weight: bold;
	text-align: center;	
}
/*re-architect for to classes good for the look of a larger site*/